<div class="documents-toolbar">
  <div class="documents-toolbar__actions">
    <div class="documents-toolbar__actions__action">
      <app-svg-icon iconName="plug"></app-svg-icon>
    </div>
    <div class="documents-toolbar__actions__action">
      <app-svg-icon iconName="expand"></app-svg-icon>
    </div>
    <div class="documents-toolbar__actions__action">
      <app-svg-icon iconName="book"></app-svg-icon>
    </div>
    <div class="documents-toolbar__actions__action">
      <app-svg-icon iconName="printer"></app-svg-icon>
    </div>
    <div class="documents-toolbar__actions__action">
      <app-svg-icon iconName="trash2"></app-svg-icon>
    </div>
  </div>
  <div class="documents-toolbar__filters">
    <div class="documents-toolbar__filters__item">
      <input type="text" placeholder="This Month" />
      <app-svg-icon iconName="chevron_down_large"></app-svg-icon>
    </div>
    <div class="documents-toolbar__filters__item">
      <input type="text" placeholder="Documents" />
      <app-svg-icon iconName="chevron_down_large"></app-svg-icon>
    </div>
    <div class="documents-toolbar__filters__item documents-toolbar__filters__add">+</div>
  </div>
</div>