<div class="paginator">
  <div class="paginator__items-per-page">Items per page: </div>
  <div class="paginator__number-of-pages">
    <div class="custom-select">
      <select>
        <option selected>6</option>
        <option>12</option>
        <option>18</option>
      </select>
      <app-svg-icon class="custom-select__icon" iconName="dropdown"></app-svg-icon>
    </div>
  </div>
  <div class="paginator__current-page">
    1/4 of 10
  </div>
  <div class="paginator__back">
    <app-svg-icon iconName="arrow_left"></app-svg-icon>
  </div>
  <div class="paginator__forward">
    <app-svg-icon iconName="arrow_right"></app-svg-icon>
  </div>
</div>