@import '../../style/colors.scss';

.overview {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;

  &__notifications {
    
  }
  
  &__divider {
    border: 1px solid map-get($map: $neutral, $key: 40);
    align-self: stretch;
  }
  
  &__profile {
    
  }
}