@import '../../style/colors.scss';

.kpi-row {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  flex-wrap: wrap;

  &__card {
    justify-self: stretch;
    background-color: $white;
    padding: 20px;
    flex: 1 0 20%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__title {
      font-size: 13px;
      line-height: 16px;
      color: map-get($map: $neutral, $key: 50);
    }

    &__value {
      font-weight: 700;
      font-size: 20px;
      line-height: 1.2;
    }
  }
}