$white: #ffffff;
$background: #F5F5F5;

$primary: (
  100: #192038,
  90: #222B45,
  80: #18203A,
  40: #4A85F6,
  30: #0095FF,
  10: #C5CEE0
);

$neutral: (
  100: #0A0A0A,
  90: #231F20,
  80: #404040,
  70: #757575,
  60: #717171,
  50: #8F9BB3,
  45: #464E5F,
  40: #C2C2C2,
  35: #ECF0F3,
  30: #BFBFBF,
  25: #DDDFE1,
  20: #F5F5F5,
  15: #EDF2F6,
  10: #EFF4FA,
);

$error: rgb(186, 55, 55);